<div class="w-100">
  <h1 matDialogTitle>{{(newCategory?'Create':'Edit')+ ' Category'}}</h1>

  <mat-dialog-content>
    <form [formGroup]="categoryFormGroup">
      <mat-form-field class="w-100 pt-5" appearance="outline">
        <mat-label>Name</mat-label>
        <input type="name" matInput formControlName="name" placeholder="Ex. AI">
        <mat-error *ngIf="categoryFormGroup.get('name')?.hasError('required')">Please enter a name</mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
      <button mat-flat-button (click)="close(false)" [disabled]="loadingBtn">Cancel</button>
      <button mat-flat-button color="primary" [disabled]="loadingBtn" (click)="save()">{{newCategory? 'Save' : 'Edit'}}</button>
  </mat-dialog-actions>
</div>
